$green: #09bc8a;
$paragraph: #818383;
$card-hover: #004346;
body {
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
  // font-size: 18px;
}
div,
p,
a,
span,
ul,
li,
address,
input,
label,
h1,
h2,
h3,
section {
  padding: 0;
  margin: 0;
  // box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  box-sizing: content-box;
  font-weight: 800;
}
h2 {
  font-size: 3.125em;
}
h3 {
  font-size: 1.875em;
}
h4 {
  font-size: 1.25em;
}
p {
  font-weight: 400;
}
a,
button {
  transition: all 0.15s ease-in-out;
}
.btn {
  font-size: 1em;
  line-height: 20px;
  text-align: center;
  border-radius: 8px;
  padding: 15px 55px;
  font-weight: 800;
  box-shadow: 0px 6px 17px rgba(84, 84, 84, 0.19);
  &:hover {
    box-shadow: none;
  }
}

img {
  width: 100%;
  display: block;
}
.container {
  max-width: 1315px;
}

// Header
.menu {
  padding: 35px 0px 42px 0px;
  // min-height: 70px;

  .logo {
    font-size: 1.875em;
    color: #000;
    &-lay {
      background-color: #fff;
      padding: 12px 15px;
      position: relative;
      z-index: 999;
    }
  }
  &-nav {
    ul {
      display: flex;
      justify-content: flex-end;
      li {
        list-style-type: none;
        margin: 0px 18px;
        a {
          color: #000;
          padding: 8px 0px;
          display: block;

          font-size: 0.875em;
        }
      }
    }
  }
  hr {
    background: #000;
    margin: 24px 0px 0px 0px;
  }
}
#lay {
  margin: 0 !important;
}
.header {
  background: url("/assets/img/header_bg.png") center top;
  background-size: cover;
  padding: 225px 0px 203px 0px;
  .block {
    // width: 559px;
    padding: 114px 80px;
    background: #ffffff;
    box-shadow: 30px 40px 100px rgba(0, 0, 0, 0.0666044);
    border-radius: 30px;
    &-paragraph {
      font-size: 1.5em;
      margin: 10px 0px 54px 0px;
    }
    &-lay {
      .btn {
        background-color: $green;
        color: #fff;
        margin-right: 39px;
      }
      &-btn-online {
        color: $green;
      }
    }
  }
}
// Story
.story {
  padding: 75px 0px;

  &-paragraph {
    margin-top: 55px;
    font-size: 1.125em;
    color: $paragraph;
  }
  &-illustration {
    margin-right: 30px;
    margin-left: auto;
    position: relative;

    &-layout {
      z-index: -1;
      width: 95%;
      height: 100%;
      display: block;
      position: absolute;
      left: 37px;
      top: 30px;
      background: $green;
      opacity: 0.1;
      border-radius: 30px;
    }
  }
}
// Map
.map {
  width: 100%;
  height: 800px;
  max-height: 800px;
  background: url("/assets/img/map.png") no-repeat center top;
  background-size: cover;
}
// Services
.service {
  padding: 75px 0px;
  background: url("/assets/img/blur.png");
  background-size: cover;

  &-info {
    background-color: #fff;
    padding: 75px 35px;
    box-shadow: 30px 40px 100px rgba(0, 0, 0, 0.0666044);
    border-radius: 32px;
    // justify-content: space-around;
    h2,
    p {
      text-align: center;
    }
    p {
      margin: 10px 0px 45px 0px;
    }

    .block {
      &-images {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        img {
          display: inline-block;
          width: auto;
        }
      }
      ul {
        margin-top: 45px;
        li {
          color: $green;
          margin-top: 30px;
          font-size: 1.125em;

          span {
            color: $paragraph;
          }
        }
      }
    }
  }
}
// Reviews
.reviews {
  padding: 279px 0px;
  .card {
    border: none;
    border-radius: 20px;
    padding: 63px 42px;
    max-width: 397px;
    height: 100%;
    span {
      color: $paragraph;
      margin-bottom: 59px;
    }
    &-paragraph,
    &-status {
      font-size: 1.125em;
    }
    &-stars {
      img {
        pointer-events: none;
        display: inline;
        width: 20px;
        margin: 0 2px;
      }
    }
    &-name {
      margin: 35px 0px 15px 0px;
    }
    hr {
      margin: 50px 0px 40px 0px;
      background-color: #d4d4d4;
    }
  }
  .card-white {
    background-color: #fff;
    p {
      color: #000;
    }
  }
  .card-black {
    margin-top: 125px;
    background-color: #004346;
    p,
    h4 {
      color: #fff;
    }
  }
  .card-last {
    margin-top: 250px;
  }
  .card:last-child() {
    margin-top: 125px;
  }
}
// Works
.works {
  padding: 0px 0px 134px 0px;
  .column {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    &-stand {
      width: 50%;
      height: 50%;
      display: flex;
      flex-wrap: wrap;
      img {
        width: 50%;
        padding: 15px;
      }
    }
    &-big {
      width: 50%;
      img {
        width: 100%;
        padding: 12px;
      }
    }
    &-bottom {
      .column-stand-100{
        height: 100%;
      }
    }
  }
  //   .col-stand {
  //     width: 49%;
  //     display: flex;
  //     flex-wrap: wrap;
  //     justify-content: space-between;
  //   }
  //   .block-img-stand {
  //     width: 48%;
  //     // max-width: 305px;
  //     height: auto;
  //   }
  //   .block-img-big {
  //     width: 49%;
  //     margin-left: auto;
  //   }
  //   .block-img-medium {
  //     width: 49%;
  //   }
  // }
}
// Quote
.quote {
  background-color: $green;
  padding: 183px 0px 90px 0px;
  &-btn {
    background-color: #fff;
    color: $green;
  }
}
// Contact Us
.contact {
  padding: 180px 0px;
  background-color: $card-hover;
  &-title {
    // text-align: center;
    color: #fff;
    margin: 0px auto 180px auto;
  }
  &-form {
    p {
      margin-top: 48px;
      display: flex;
      align-items: flex-start;
      position: relative;
    }
    input,
    textarea {
      font-size: 1.125em;
      padding: 5px 30px 15px 40px;
      color: #fff;
      width: 100%;
      border: none;
      background-color: transparent;
      outline: none;
      border-bottom: 1px solid $paragraph;
      transition: all 0.2s ease-in-out;
      -webkit-box-shadow: inset 0 0 0 50px $card-hover;
      -webkit-text-fill-color: #fff;
      &::placeholder {
        color: #fff;
      }
    }
    textarea {
      resize: none;
      min-height: 126px;
    }

    .btn {
      background-color: #fff;
      color: $green;
      margin: 60px auto 0px auto;
      display: block;
      // margin-top: 60px;
    }
  }

  label {
    position: absolute;
    left: 0px;
    top: 0;
    img {
      width: 20px;
    }
    // For validation input need add class "label-active" to label
  }
  .label-active {
    svg {
      rect,
      path,
      ellipse {
        stroke: $green;
      }
    }
  }
  .label-active ~ input {
    border-bottom: 1px solid $green;
  }
}
// Footer
.footer {
  padding: 65px 0px 155px 0px;
  &-logo {
    color: #000 !important;
    text-decoration: none !important;
  }
  &-info {
    img {
      width: 27px;
      margin-right: 27px;
    }
    .phone-img {
      width: 30px;
    }
    address {
      p {
        font-size: 0.875em;
      }
    }
    &-contacts {
      margin-left: 25px;
      align-items: center;
      a {
        font-size: 0.875em;
        color: $green;
      }
    }
  }
  &-social {
    list-style-type: none;
    display: flex;
    li {
      margin: 0px 15px;
      a {
        img {
          width: 30px;
        }
      }
    }
  }
}

// Menu Animation

.dn {
  display: none !important;
}
.overflow-h {
  overflow: hidden;
}
